/* -- Elements -- */

body {
    text-align: center;
    font-family: "Roboto";
}

h1 {
    font-size: 2.5rem;
    font-weight: 900;
    padding: 70px 0px 50px;
}

.blue-background {
    background-color: #112B3C;
    color: #FFF;
}

.gray-background {
    background-color: #EFEFEF;
}

.container-fluid {
    padding: 3% 25% 5%;
}

/* -- Title --*/

.img-perfil{
    padding-top: 50px;
}

/* -- Formation -- */

.educ-card{
    margin: 10px 0;
}

.educ-card-header{
    background-color: #17375e;
    color: #FFF;
}

/* -- Skills -- */

.carousel-container{
    padding: 2% 25% 10%;
    text-align: center;
}

/* -- Work -- */

.accordion-container{
    padding: 10px 0;
}

.accordion-layout{
    background-color: #112B3C;
    color: #FFF;
}

.work-list{
    line-height: 2rem;
    text-align: justify;
    padding: 4% 10% 15%;
}


/* -- Footer -- */

footer{
    margin-top: 100px;
}

.accordion-button:not(.collapsed){
    background-color: #17375E;
    color: #FFF;
    
}

.accordion-button:not(.collapsed)::after{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button::after{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

@media (max-width: 990px) {

    .container-fluid{
        padding: 3% 10% 5%;
    }

}

