/* -- Elements -- */

body {
    text-align: center;
    font-family: "Poppins", sans-serif;
}

h1 {
    font-size: 2.5rem;
    font-weight: 800;
    padding: 70px 0px 30px;
}

.container-fluid {
    padding: 3% 25% 5%;
}


.blue-background {
    background-color: #112B3C;
    color: #FFF;
}

.gray-background {
    background-color: #EFEFEF;
}

/* -- Nav Bar -- */

.navbar-container{
    padding: 0 4rem 0;
    border-bottom: 1px solid;
}

.navbar-brand{
    font-size: 3rem;
    font-weight: bold;
}

.nav-logo{
    width: 5rem;

}

/* -- Title --*/

.img-background{
    background-image:url("/imagens/title_background.png");
    background-position: center;
}

.img-perfil{
    margin-top: 100px;
    width: 18rem;
    border-radius: 5%;
}

.fa-whatsapp{
    color: rgb(32, 170, 62);
}

.big-title{
    font-family: "Lobster";
    font-weight: 200;
    font-size: 4rem;
}

.medium-title{
    font-family: "Lobster";
    font-size: 2.0rem;
    font-weight: 100;
}

.personal-container{
    font-size: 1.2rem;
}


/* -- Formation -- */

.educ-card{
    margin: 10px 0;
}

.educ-card-header{
    background-color: #17375e;
    color: #FFF;
}

/* -- Skills -- */

.carousel-container{
    padding: 2% 33% 10%;
    text-align: center;
    line-height: 2.5rem;
}

.img-skill{
    padding-bottom: 40px;
}

/* -- Work -- */

.accordion-container{
    padding: 10px 0;
}

.accordion-layout{
    background-color: #112B3C;
    color: #FFF;
}

.work-list{
    line-height: 2rem;
    text-align: justify;
    padding: 4% 10% 15%;
}


/* -- Footer -- */

footer{
    padding: 100px;
}

.accordion-button:not(.collapsed){
    background-color: #17375E;
    color: #FFF;
    
}

.accordion-button:not(.collapsed)::after{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button::after{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.contact-links{
    text-decoration: none;
    padding: 0 30px;
    color: #FFF;
}

.contact-links:hover{
    color: #3c6fad;
}

@media (max-width: 990px) {

    .container-fluid{
        padding: 3% 10% 5%;
    }

    .carousel-container{
        padding: 2% 15% 10%;
    }

    .navbar-container{
        padding: 0 1rem 0;
    }

}

